.main{
    background-color: rgba(53, 79, 45, 1);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.full-image-stella{
    width: auto;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.full-image-stella {
    background-image: url('../../../assets/images/Stella-FullImage-Front.jpg');
    height: 323px;
    width: 100%;
}

.apartments-title{
    display: flex;
    align-items: center;
    gap: 40px;
    width: 100%;
    justify-content: center;
    color: white;
    padding: 10px;
}

.line{
    width: 90px;
    height: 3px;
    background-color: white;
}

.apartments-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 100%;
}

.panorama-text{
    font-size: 20px;
    width: 100%;
    height: 20px;
    text-align: center;
    margin-top: 10px;
}

.apartments-content iframe{
    width: 100%;
    height: 400px;
    border: none;
}

.apartments-search, .apartments-slider, .indicators{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.apartments-search {
    margin-top: 50px;
}

.apartments-slider{
    flex-direction: column;
}

.flour-number{
    width: 100%;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    color:  rgb(45, 161, 35);
}

.indicators{
    height:30px;
    gap: 10px;
}

.indicator{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
    border: 1px solid black;
    transition: 0.3s ease;
}

.indicator.active{
    background-color: rgb(45, 161, 35);
}

.slider{
    position: relative;
    width: 100%;
    height: 350px;
    overflow: hidden;
    margin: auto;
}

.slides{
    display: flex;
    transition: transform 0.4s ease;
    align-items: center;
}

.slides img{
    width: 100%;
    flex-shrink: 0;
    height: 100%;
}

.arrow {
  position: absolute;
  top: 32%;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  font-size: 24px;
  height: 232px;
  z-index: 99999;
}

.arrow.right {
  right: 0px;
}

.arrow:hover{
    background: rgba(0, 0, 0, 0.8);
}