<div class="main">
    <div class="full-image-stella"></div>
    <div class="apartments-title">
        <div class="line"></div>
        <h1>Apartments</h1>
        <div class="line"></div>
    </div>
    <div class="apartments-content">
        <iframe src="https://panorama.homestyler.com/v2?m=np&id=qqfAjuJ6WSQ3w76uhWHKqz&locale=en_US"></iframe>
        <p class="panorama-text">Prikaza panorame interijera apartmana</p>

        <div class="apartments-search">
            <div class="apartments-slider">
                <p class="flour-number">{{names[currentIndex]}}</p>
                <div class="indicators">
                    <div *ngFor="let item of images; let i = index" class="indicator"
                        [class.active]="i === currentIndex">
                    </div>
                </div>
                <div class="slider">
                    <button class="arrow left" (click)="prevSlide()">&#10094;</button>
                    <button class="arrow right" (click)="nextSlide()">&#10095;</button>
                    <div class="slides" [ngStyle]="{ transform: 'translateX(-' + currentIndex * 100 + '%)' }">
                        <img *ngFor="let img of images" [src]="img" alt="">
                    </div>
                </div>
            </div>
        </div>

        <div class="legenda">
            <p class="legenda-title">Legenda</p>
            <div class="legend-item">
                <div class="color-box available"></div>
                <p>Slobodan apartman za rezervaciju</p>
            </div>
            <div class="legend-item">
                <div class="color-box reserved"></div>
                <p>Apartman je rezervisan</p>
            </div>
            <div class="legend-item">
                <div class="color-box sold"></div>
                <p>Apartman je prodat</p>
            </div>
        </div>

        <div class="list-of-apartments">
            <p class="list-title">Ponuđeni apartmani</p>
            <div class="list">
                <div *ngFor="let a of getApartmaniZaTrenutniSprat()" class="apartment-item">
                    <img src="assets/images/apartmanShowImage.jpg" alt="">
                    <div class="apartment-info">
                        <p class="apartment-name">{{ a.naziv }}</p>
                        <button>Pogledaj</button>
                        <p class="apartment-status" [ngClass]="a.status">{{ a.status }}</p>                    
                    </div>
                </div>

                <!-- Ako nema apartmana, prikaži poruku -->
                <div *ngIf="getApartmaniZaTrenutniSprat().length === 0">
                    <p>Nema apartmana za ovaj sprat.</p>
                </div>
            </div>
        </div>
    </div>
</div>