.main, .apartments-title, .apartments-content, .apartments-search, .apartments-slider, .indicators, .slides, .slides, .legenda, .legend-item,
.list-of-apartments, .list, .apartment-item, .next-page-apartment{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.main{
    background-color: rgba(53, 79, 45, 1);
    flex-direction: column;
}

.full-image-stella{
    width: auto;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.full-image-stella {
    background-image: url('../../../assets/images/Stella-FullImage-Front.jpg');
    height: 323px;
    width: 100%;
}

.apartments-title{
    gap: 40px;
    color: white;
    padding: 10px;
}

.line{
    width: 70px;
    height: 6px;
    background-color: white;
}

.apartments-content{
    flex-direction: column;
    background-color: white;
}

.panorama-text{
    font-size: 20px;
    width: 100%;
    height: 20px;
    text-align: center;
    margin-top: 10px;
}

.apartments-content iframe{
    width: 100%;
    height: 400px;
    border: none;
}

.apartments-search {
    margin-top: 50px;
}

.apartments-slider{
    flex-direction: column;
}

.flour-number{
    width: 100%;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    color:  rgb(45, 161, 35);
}

.indicators{
    height:30px;
    gap: 10px;
}

.indicator{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
    border: 1px solid black;
    transition: 0.3s ease;
}

.indicator.active{
    background-color: rgb(45, 161, 35);
}

.slider{
    position: relative;
    overflow: hidden;
    margin-top: 15px;
    margin-bottom: 15px;
}

.slides{
    transition: transform 0.4s ease;
    justify-content: normal;
    height: 250px;
}

.slides img{
    width: 100%;
    flex-shrink: 0;
    height: 100%;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}

.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  font-size: 24px;
  height: 250px;
  z-index: 99999;
}

.arrow.right {
  right: 0px;
}

.arrow:hover{
    background: rgba(0, 0, 0, 0.7);
}

.legenda{
    flex-direction: column;
    gap: 10px;
}

.legenda-title{
    width: 100%;
    text-align: start;
    padding-left: 20px;
    font-size: 18px;
    font-weight: bold;
}

.legend-item{
    display: flex;
    gap: 30px;
    justify-content: start;
}

.legend-item p{
    font-style: italic;
}

.legend-item div{
    width: 20px;
    height: 20px;
    border: 1px solid black;
    border-radius: 50%;
    margin-left: 30px;
}

.available{
    background-color: rgb(16, 165, 16);
}
.reserved{
    background-color: rgb(255, 255, 2);
}
.sold{
    background-color: red;
}

.list-of-apartments{
    margin-top: 50px;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 50px;
}

.list-title{
    width: 100%;
    text-align: start;
    font-size: 24px;
    font-weight: bold;
    border-bottom: 2px solid black;
    padding-left: 10px;
}

.list{
    flex-direction: column;
    gap: 15px;
}

.apartment-item{
    justify-content: space-around;
}

.apartment-item img{
    width: 40%;
    height: 100%;
    border: 1px solid black;
}

.apartment-info{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 50%;
}

.apartment-name{
    font-size: 20px;
    font-weight: bold;
}

.apartment-info button{
    height: 30px;
    border: none;
    background-color: rgba(73, 120, 58, 1);
    color: white;
    border-radius: 8px;
    font-size: 16px;
}

.apartman-info button:hover{
    background-color: rgb(80, 153, 51);
    border: 2px solid black;
}

.apartman-status{
    color:  rgb(16, 165, 16);
    font-weight: bold;
    font-style: italic;
    border-bottom: 1px solid black;
}

.next-page-apartment{
    border-top: 2px solid black;
    justify-content: end;
    height: 50px;
}

.next-page-apartment a{
    text-decoration: none;
    margin-right: 20px;
    font-size: 18px;
    font-weight: bold;
    color: black;
}

.next-page-apartment a:hover{
    color:  rgb(16, 165, 16);
    border-bottom: 1px solid  rgb(16, 165, 16);
}