.main{
    background-color: rgba(53, 79, 45, 1);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.full-image-stella{
    width: auto;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.full-image-stella {
    background-image: url('../../../assets/images/Stella-FullImage-Front.jpg');
    height: 323px;
    width: 100%;
}

.content-stella{
    width: auto;
    height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2%;
}

.content-stella div{
    width: 100%;
    height: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3%;
}

.content-stella .image-stella-object{
    width: 60%;
    height: 100%;
}

.content-stella .image-stella-info{
    width: 30%;
    height: 100%;
    border-radius: 8px;
}

.info-container{
    background-color: rgb(252, 252, 252, 0.4);
    width: 90%;
    height: 100%;
    text-align: center;
}

.info-container h1{
    margin-top: 20px;
    margin-bottom: 20px;
}

.info-container p{
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 15px;
    font-size: 18px;
    text-align: justify;
}