.main{
    background-color: rgba(53, 79, 45, 1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.full-image-stella, .back-image-stella, .stella-logo{
    background-size: contain;
    background-position: center;    
    background-repeat: no-repeat;
    width: 100%;
}

.full-image-stella {
    background-image: url('../../../assets/images/Stella-FullImage-Front.jpg');
    height: 240px;
    background-size: cover;
}

.stella-logo{
    background-image: url('../../../assets/images/Stella-Logo.png');
    width: 200px;
    height: 200px;
    position: absolute;
    top: 131px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 50%;
    border: 3px solid rgba(45, 153, 11, 1);
}

.control-buttons{
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.control-buttons p{
    color: white;
    font-size: 40px;
    margin-bottom: 35px;
    width: auto;
    text-align: center;
}

.buttons-navigation {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.buttons-navigation button{
    width: 300px;
    height: 60px;
    font-size: 24px;
    background-color: rgba(73, 120, 58, 1);
    color: white;
    border: 1px solid white;
    border-radius: 10px;
    cursor: pointer;
}

.buttons-navigation button:hover{
    background-color: rgb(109, 163, 87);
     border: 2px solid white;
}

.back-image-stella{
    background-image: url('../../../assets/images/Stella-FullImage-Back.jpg');
    height: 212px;
    background-size: cover;
}