.nav-main{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 70px;
    position:fixed;
    top: 0;
    left: 0;
    z-index: 999999;
    background-color: rgb(255, 255, 255, 0.2);
}

.nav-logo{
    background-image: url('../../../assets/images/Stella-Logo.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 2px solid rgba(45, 153, 11, 1);
    margin: 20px;
}

.hamburger-menu{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 50px;
    height: 45px;
    cursor: pointer;
    margin: 20px;
}

.hamburger-menu div{
    width: 100%;
    height: 9px;
    background-color: rgba(45, 153, 11, 1);
}

.nav-links{
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 200px;
    position: fixed;
    top: 80px;
    background-color: rgba(53, 79, 45, 1);
    gap: 15px;

    border-top: 1px solid white;
    border-bottom: 1px solid white;

    &.open{
        display: flex;
    }
}

.nav-links a{
    color: white;
    text-decoration: none;
    font-size: 20px;
    width: 100%;
    text-align: center;
    padding: 10px;
}

.nav-links a:hover{
    background-color:rgba(62, 105, 49, 1);
    border: 1px solid white;
    border-radius: 8px;
}



.stella-contacts{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 80px;
    height: 200px;
    width: 100%;
}

.stella-contacts p{
    color: white;
    font-size: 24px;
    margin-bottom: 10px;
    font-weight: bold;
    letter-spacing: 2px;
}

.stella-contacts div{
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 30px;
    height: 50px;
    width: 100%;
}

.stella-contacts div img{
    width: 30px;
    height: 30px;
    margin-left: 30px;
    background-color:rgba(62, 105, 49, 1);
    border-radius: 50%;
    padding: 3px;
}

.stella-contacts div a{
    color: white;
    text-decoration: none;
    font-size: 18px;
    letter-spacing: 1px;
}

.stella-contacts div a:hover{
    color: rgba(45, 153, 11, 1);
    font-weight: bold;
}